{{ form_start(form) }}
    <div class="form-group row">
        {{ form_label(form.week_record, 'Record week', {
            'label_attr': {'class': 'col-sm-2 col-form-label'} 
        }) }}
        <div class="col-sm-8">
            {{ form_row(form.week_record, {
                    'attr': {'class': 'form-control custom-input' }
                })
            }}
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.lab, 'Lab', {
            'label_attr': {'class': 'col-sm-2 col-form-label'} 
        }) }}
        <div class="col-sm-8">
            {{ form_row(form.lab, {
                    'attr': {'class': 'form-control custom-input' }
                })
            }}
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.hospital, 'Departement name', {
            'label_attr': {'class': 'col-sm-2 col-form-label'} 
        }) }}
        <div class="col-sm-8">
            {{ form_row(form.hospital, {
                    'attr': {'class': 'form-control custom-input' }
                })
            }}
        </div>
    </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
