{% extends 'base.html.twig' %}

{% block title %}Hospital{% endblock %}

{% block body %}
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                    <h5>Hospital</h5>
                    <a class="btn btn-info btn-right" href="{{ path('hospital_index') }}">back to list</a>
            </div>
            <div class="card-block table-border-style">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ hospital.id }}</td>
                            </tr>
                            <tr>
                                <th>Hospital_name</th>
                                <td>{{ hospital.hospitalName }}</td>
                            </tr>
                            <tr>
                                <th>Cases_number</th>
                                <td>{{ hospital.casesNumber }}</td>
                            </tr>
                            <tr>
                                <th>Deaths_number</th>
                                <td>{{ hospital.deathsNumber }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <a class="btn btn-info" href="{{ path('hospital_edit', {'id': hospital.id}) }}">edit</a>
                {{ include('hospital/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
</div>{% endblock %}
