{{ form_start(form) }}
    <div class="form-group row">
        {{ form_label(form.department_name, 'Departement name', {
            'label_attr': {'class': 'col-sm-2 col-form-label'} 
        }) }}
        <div class="col-sm-8">
            {{ form_row(form.department_name, {
                    'attr': {'class': 'form-control custom-input', 'placeholder': 'Enter the department name' }
                })
            }}
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.departement_number, 'Department code', {
            'label_attr': {'class': 'col-sm-2 col-form-label'} 
        }) }}
        <div class="col-sm-8">
            {{ form_row(form.departement_number, {
                    'attr': {'class': 'form-control custom-input', 'placeholder': 'Enter the departement code' }
                })
            }}
        </div>
    </div>
    <div class="form-group row">
        {{ form_label(form.region, 'Region name', {
            'label_attr': {'class': 'col-sm-2 col-form-label'} 
        }) }}
        <div class="col-sm-8">
            {{ form_row(form.region, {
                    'attr': {'class': 'form-control custom-input' }
                })
            }}
        </div>
    </div>
    <button class="btn btn-info">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
